.user__name {
  font-weight: 500;
  font-size: 42px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 480px;
}

@media screen and (max-width: 600px) {
  .user__name {
    font-size: 27px;
    text-align: center;
    padding-left: 28px;
    max-width: 282px;
  }
}
