.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 31px 21px;
}

@media screen and (max-width: 881px) {
  .card__container {
  padding-bottom: 31px;
  }
}

@media screen and (max-width: 350px) {
  .card__container {
  padding-bottom: 0;
  }
}
