.welcome__loggin-link {
    font-weight: 400;
font-size: 18px;
line-height: 22px;
color: white;
text-decoration: none;
transition: .2s;
}

.welcome__loggin-link:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 950px) {
    .welcome__loggin-link {
        font-size: 14px;
        line-height: 17px;
    }
  }
